@import "../../../style/all";

:host {
    font-family: $default-font;
    display: inline-flex;
    cursor: pointer;

    slot {
        display: block;
        background-color: $secondary-brand;
        padding: 10px 12px;
        transition: all 0.35s linear 0s;
        color: #fff;
        border-bottom: 1px solid transparent;
        background-clip: padding-box;
        border-radius: 0;
        font-size: 13px;
        margin-bottom: 0;
        margin-bottom: -1px;
        margin-right: 2px;

        &:hover {
            background-color: $primary-brand;
            color: #fff;
            border-color: transparent;
        }

        &.selected {
            border: 1px solid #414042;
            border-bottom: 1px solid #fff;
            background-color: #fff;
            color: #555;
            cursor: default;
            
        }
    }
    
}
