@import "../../../style/all";

.user-account-content {
  display: flex;
  flex-direction: row;
  padding: 6px 8px 6px 8px;
  width: 105px;
  color: #403F3F;
  font-family: $default-font;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px 0 12px;
  background: transparent;
  
  border: none; 
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }    
    > span {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 2px 1px;
        vertical-align: middle;
        font-weight: 500;
       > span {
        svg {
            height: 14px;
            width: 14px;
            padding: 2px;
            color: #403F3F;
            vertical-align: middle;
            @include breakpoint(phablet) {
                height: 24px;
                width: 24px;
            }
        }
       }
    }
    
}
.menu-wrapper {
    font-size: 14px;
    font-family: $default-font;
    position: relative;        
    @include transition(all .3s ease-in-out);
    
   
    > div {
        max-height: 0;
        overflow: hidden;
        @include transition(all 0.3s ease-in-out);
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;             
        box-shadow: 0px 1px 3px 0px #0000001A;
        width: 375px;
        z-index: 100;
        top: 10px;
        right: -85px;          
        > div:first-child > span {
            display: block;
            &:last-child {
             font-weight: bolder;
            }
        } 
        ul {
            list-style-type: none;
            li {
                margin: 12px 0;
                a, a:link, a:visited {
                    color: #1A589F;
                }
            }
        }
        
        > *:nth-child(odd)  {
            background-color: #F9F9F9;
            padding: 32px;            
            display: flex
        ;
            flex-direction: column;
            gap: 5px;
        }
        > *:nth-child(even) {
            background-color: white;
            margin-top: 10px;
            display: flex
        ;
            flex-direction: column;
            gap: 5px;
            padding: 0 32px;
        }
        > *:last-child {
            padding: 32px;            
        }
        a, a:link, a:visited {
            color: #1A589F;
            display: flex;
        }
        .menu-user-icon {
            svg {
                padding-left: 4px;
                width: 24px;
                height: 24px;
                color: #000000;
            }
        }
    }
    &.open {        
        > div {
            max-height: 1000px;
        }
    }
   
}
.user-account-container {   
    text-align: right;
    background-color: #d2cecb;
    max-height: 0;
    overflow: hidden;
    &.open {
        max-height: 56px;
    }
    a,
    button {
        display: inline-block;
        padding: 0.25em 1em 0.25em 1.1em;
        margin: 15px 0;
        text-decoration: none;
        color: transparent;
        cursor: pointer;
        border: none;
        
        font-weight: normal;
      
        background: transparent;
        &:hover {
            text-decoration: underline;
        }
        &:not(:first-child) {
            border: none;
        }
    }
}