@use "../../style/variables/colors";
@use "../../style/variables/typography";

:host,
::slotted(*) {
    font-family: typography.$default-font;
    font-size: typography.$default-font-size;
    color: colors.$default-text;
    line-height: 24px;
    font-weight: 300;
}
