@import "../../style/all";

content-container {
    display: block;
    margin: auto;
    font-family: $default-font;
    font-size: $default-font-size;
    color: $default-text;
    line-height: 1.4;
    a {
        color: $primary-text;
        text-decoration: underline;
    }
    &:not([fullwidth]) {
        padding: 10px 15px;
        @include breakpoint(tablet) {
            width: 750px;
        }
        @include breakpoint(laptop) {
            width: 970px;
        }
        @include breakpoint(desktop) {
            width: 1170px;
        }
    }
}
