@import "../../style/all";

* {
    box-sizing: border-box;
}

.main-navigation {
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
    background-color: $primary-background;
    font-family: $default-font;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    @media print {
        position: relative;
        margin-bottom: -100px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    &.static-position {
        position: static;
    }

    .main-navigation-container {
        margin: auto;

        @include breakpoint(tablet) {
            width: 750px;
        }
        @include breakpoint(laptop) {
            width: 970px;
        }
        @include breakpoint(desktop) {
            width: 1170px;
        }
        .main-navigation-content {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 15px;
            @include breakpoint(phablet) {
                flex-wrap: nowrap;
            }

            .logo {
                flex: 1;
                min-width: 150px;
                @include breakpoint(phablet) {
                    flex: 0;
                    min-width: 165px;
                }
                @include breakpoint(laptop) {
                    min-width: 248px;
                }
                a {
                    display: inline-block;
                }
                svg {
                    height: 37px;
                    width: 150px;
                    @include breakpoint(phablet) {
                        width: 200px;
                    }
                    @include breakpoint(laptop) {
                        width: 248px;
                    }
                }
            }
            .search-container {
                @media print {
                    display: none;
                }
                order: 3;
                width: 100%;
                display: flex;
                flex-direction: column;
                @include breakpoint(phablet) {
                    flex: 1;
                    order: 0;
                    padding: 0 1em;
                }
                @include breakpoint(tablet) {
                    flex-direction: row;
                }
            }
            .button-row {
                width: 160px;
                display: flex;
                justify-content: space-between;
                @include breakpoint(laptop) {
                    width: 210px;
                }
            }
        }
    }
}
