@use "../../style/mixins/transition";
@use "../../style/variables/colors";
@use "../../style/variables/typography";

gn-table {
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: typography.$default-font;
    color: colors.$default-text;
    tr {
      th {
        border-bottom: 2px solid colors.$primary-brand;
        color: colors.$primary-text;
        font-weight: normal;
        height: 27px;
        line-height: 20px;
        text-align: left;
        text-transform: uppercase;
        padding: 8px 8px 0;
      }
      td {
        padding: 8px;
        border-bottom: 1px solid colors.$default-border;
        line-height: 20px;
      }
    }
  }
  &[hoverable] {
    table {
      tbody {
        tr {
          @include transition.transition(background-color 0.15s ease-in-out);
          &:hover {
            background-color: colors.$hover-background;
          }
        }
      }
    }
  }
}
