@import "../../../style/all";

* {
    box-sizing: border-box;
}

button.menu-toggle-button {
    border: none;
    background: transparent;
    background-color: rgb(125, 116, 109);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 40px;
    height: 32px;
    margin-left: 4px;
    @include breakpoint(phablet) {
        width: 45px;
        height: 37px;
    }
    @include breakpoint(laptop) {
        width: 98px;
        background-color: rgb(125, 116, 109);
        color: #fff;
    }
    &.open {
        background-color: #414042;
    }
    span {
        font-size: 1.2em;
        font-weight: 700;
        padding: 2px 1px;
        vertical-align: middle;
        &.menu-title {
            display: none;
            @include breakpoint(laptop) {
                display: inline-block;
            }
        }
        &.hidden {
            display: none;
        }
    }
    svg {
        height: 24px;
        width: 24px;
        padding: 2px;
        vertical-align: middle;
        @include breakpoint(phablet) {
            height: 29px;
            width: 29px;
        }
    }
}
.menu-wrapper {
    position: absolute;
    left: 0;
    width: 100%;

    .menu-container {
        @include border-radius(0 0 3px 3px);
        box-sizing: border-box;
        width: 100%;
        background-color: #dfdcda;
        margin: auto;
        position: relative;
        top: 56px;
        @include breakpoint(phablet) {
            top: 15px;
        }

        @include breakpoint(tablet) {
            width: 750px;
        }
        @include breakpoint(laptop) {
            width: 970px;
        }
        @include breakpoint(desktop) {
            width: 1170px;
        }
        @media print {
            display: none;
        }

        &.open {
            @include box-shadow(0 5px 5px -2px rgba(0, 0, 0, 0.26));
            height: auto;
        }
        .menu-item-list-container {
            @include transition(max-height 0.3s ease-in-out);
            overflow: hidden;
            max-height: 0;
            &.open {
                max-height: 300px;
                overflow: auto;
                @include breakpoint(phablet) {
                    max-height: 450px;
                }
                @include breakpoint(laptop) {
                    max-height: 300px;
                }
            }

            .menuItemList {
                list-style: none;
                margin: 15px;
                color: #414042;
                &:first-child {
                    padding: 15px 0 0;
                }
                a {
                    color: #414042;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.hierarchy-level-0 {
                    display: flex;
                    flex-wrap: wrap;
                    > li {
                        flex: 1 0 100%;
                        @include breakpoint(phablet) {
                            flex: 1 0 50%;
                        }
                        @include breakpoint(laptop) {
                            flex: 1;
                        }
                        > a {
                            border-bottom: 1px solid #b6afa8;
                            font-weight: 700;
                            padding-bottom: 0.75em;
                            margin-bottom: 0.75em;
                            display: block;
                        }
                        > ul {
                            padding: 0;
                            li {
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
        }
        .menu-actions-row {
            @include transition(max-height 0.3s ease-in-out);
            text-align: right;
            background-color: #d2cecb;
            max-height: 0;
            overflow: hidden;
            &.open {
                max-height: 56px;
            }
            a, button {
                display: inline-block;
                padding: 0.25em 1em 0.25em 1.1em;
                margin: 15px 0;
                text-decoration: none;
                color: #414042;
                cursor: pointer;
                border: none;
                font-size: 16px;
                font-weight: 300;
                font-family: $default-font;
                background: none;
                &:hover {
                    text-decoration: underline;
                }
                &:not(:first-child) {
                    border-left: 1px solid #b6afa8;
                }
            }
        }
    }
}
