@import "../../../style/all";

* {
    box-sizing: border-box;
}

.download-items-container {
    .icon-toggle-button {
        @include transition(all 0.1s ease-in-out);
        border: none;
        background: transparent;
        color: #7d746d;
        padding: 0;
        @include breakpoint(phablet) {
            padding: 0 4px;
        }
        cursor: pointer;
        &.open {
            color: #414042;
        }
        .counter {
            background-color: $primary-brand;
            border-radius: 50%;
            color: #fff;
            margin-top: -0.25em;
            margin-left: -0.2em;
            position: absolute;
            text-align: center;
            width: 1.4em;
            line-height: 1.4;
            height: 1.4em;
            font-size: 0.9em;
            @include breakpoint(phablet) {
                height: 1.5em;
                width: 1.5em;
                line-height: 1.5;
                font-size: 1em;
            }
            &.hidden {
                display: none;
            }
        }
        .download-icon {
            svg {
                width: 45px;
                height: 32px;
                @include breakpoint(phablet) {
                    width: 52px;
                    height: 37px;
                }
            }
        }
    }
    .download-item-list-wrapper {
        position: absolute;
        .download-item-list-container {
            @include border-radius(0 0 3px 3px);
            @include transition(all 0.1s ease-in-out);
            box-sizing: border-box;
            overflow: hidden;
            max-height: 0;
            position: relative;
            top: 10px;
            background-color: #fbfcfd;
            right: 205px;
            width: 260px;
            @include breakpoint(phablet) {
                right: 245px;
                width: 300px;
            }
            @media print {
                display: none;
            }
            &.open {
                @include box-shadow(
                    0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12)
                );
                height: auto;
                max-height: 300px;
                overflow: auto;
            }
            .page-link-element {
                display: block;
                text-align: center;
                padding: 8px 16px;
                color: $primary-text;
                text-decoration: none;
                cursor: pointer;
                border: none;
                font-size: 16px;
                font-weight: 400;
                width: 100%;
                font-family: $default-font;
                &:hover {
                    text-decoration: underline;
                    color: $primary-text-hover;
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    @include transition(all 0.15s ease-in-out);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 8px 16px;
                    &:hover {
                        background-color: $hover-background;
                    }
                    .list-icon {
                        margin-left: 8px;
                        cursor: pointer;
                        background: none;
                        border: none;
                        svg {
                            color: $danger-text;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}
