@import "../../style/all";

gn-list {
    ul {
        margin: 0;
        padding: 0;
        padding-inline-start: 28px;
        -webkit-padding-start: 28px;
        list-style: none;
        &:not([block]) {
            display: inline-block;
        }
        &[block] {
            display: block;
        }
        li {
            font-family: $default-font;
            color: $default-text;
            font-weight: normal;
            line-height: 1.4em;
            font-style: italic;
            &:before {
                color: $primary-brand;
                content: "•";
                font-size: 28px;
                font-style: normal;
                left: 0;
                margin-left: 24px;
                position: absolute;
            }
        }
    }
}
