@use "../../style/variables/colors";
@use "../../style/variables/typography";

gn-list {
    ul {
        margin: 0;
        padding: 0;
        padding-inline-start: 22px;
        -webkit-padding-start: 22px;
        list-style: none;
        position: relative;
        &:not([block]) {
            display: inline-block;
        }
        &[block] {
            display: block;
        }
        li {
            font-family: typography.$default-font;
            color: colors.$default-text;
            font-weight: normal;
            line-height: 1.4em;
            font-style: italic;
            &:before {
                color: colors.$primary-brand;
                content: "•";
                font-size: 24px;
                font-style: normal;
                left: 8px;
                position: absolute;
            }
        }
    }
}
