@use "../../../style/mixins/appearance";
@use "../../../style/mixins/border-radius";
@use "../../../style/mixins/breakpoints";
@use "../../../style/variables/colors";

div.search-type-selector {
    width: 235px;
    display: none;
    @include breakpoints.breakpoint(phablet) {
        display: block;
    }
    label {
        font-size: 14px;
        display: block;
        cursor: pointer;
        height: 18px;
        font-weight: normal;
        .search-type-counter {
            font-size: 0.9em;
            &::before {
                content: "(";
            }
            &::after {
                content: ")";
            }
        }
    }
    input[type="radio"] {
        @include border-radius.border-radius(50%);
        @include appearance.appearance(none);
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 16px;
        height: 16px;
        border: 2px solid rgb(125, 116, 109);
        transform: translateY(-0.075em);
        display: inline-grid;
        place-content: center;
    }

    input[type="radio"]::before {
        @include border-radius.border-radius(50%);
        content: "";
        width: 8px;
        height: 8px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
    }

    input[type="radio"]:checked {
        border-color: colors.$primary-text;
        &::before {
            transform: scale(1);
            background-color: colors.$primary-text;
        }
    }

    input[type="radio"]:focus-visible {
        outline: max(2px, 0.1em) solid colors.$primary-text;
        outline-offset: max(2px, 0.1em);
    }
}
