@use "../../style/mixins/border-radius";
@use "../../style/mixins/box-shadow";
@use "../../style/mixins/breakpoints";
@use "../../style/mixins/calc";
@use "../../style/variables/colors";

.dialog-container {
    &:not(.visible) {
        display: none;
    }
    &.visible {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, 0.25);
        height: 100%;
        top: 0;
        left: 0;
        align-content: center;
        padding: 8px 28px;
        z-index: 2;
        justify-content: center;
        box-sizing: border-box;
        @include breakpoints.breakpoint(laptop) {
            padding: 36px;
        }
    }
    .dialog-content {
        @include calc.calc("max-height", "100% - 128px");
        @include box-shadow.box-shadow(
            0 11px 15px -7px rgba(0, 0, 0, 0.2),
            0 24px 38px 3px rgba(0, 0, 0, 0.14),
            0 9px 46px 8px rgba(0, 0, 0, 0.12)
        );
        @include border-radius.border-radius(4px);
        max-width: 540px;
        width: 100%;
        background-color: #fff;
        position: relative;
        &:not(.noPadding) {
            padding: 28px 22px 22px;
            @include breakpoints.breakpoint(tablet) {
                padding: 38px 30px 30px;
            }
        }
        &.noPadding {
            padding: 28px 0 0;
            @include breakpoints.breakpoint(tablet) {
                padding: 38px 0 0;
            }
        }
        @include breakpoints.breakpoint(laptop) {
            @include calc.calc("width", "100% - 128px");
            max-height: 100%;
        }
        .close-dialog-button {
            background: none;
            border: none;
            color: colors.$default-text;
            display: inline-block;
            position: absolute;
            right: 7px;
            top: 4px;
            text-decoration: underline;
            font-size: 19px;
            cursor: pointer;
            padding: 0;
            right: 8px;
            top: 5px;
            @include breakpoints.breakpoint(tablet) {
                right: 15px;
                top: 10px;
            }
            &:hover {
                text-decoration: none;
            }
            svg {
                width: 17px;
                height: 17px;
            }
        }
    }
}
