@import "../../style/all";

gn-badge-list {
    ul,
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        &:not([block]) {
            display: inline-block;
        }
        &[block] {
            display: block;
        }
        li {
            display: inline-block;
            background-color: $primary-background;
            font-family: $default-font;
            color: white;
            margin: 0 2px;
            padding: 0 8px;
            border-radius: 4px;
            font-size: 0.9em;
            font-weight: normal;
            line-height: 1.4em;
            text-align: center;
        }
    }
}
