@import "../../style/all";

gn-input {
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="time"],
    input[type="url"],
    input[type="search"],
    input[type="password"],
    input:not([type]) {
        @include appearance(none);
        @include border-radius(4px);
        font-family: $default-font;
        font-size: 16px;
        font-size: 12pt;
        padding: 0 8px;
        height: 34px;
        box-shadow: none;
        position: relative;
        z-index: 1;
        &:not(:disabled) {
            background-color: #fff;
            border: 1px solid $default-border;
            color: $default-text;
        }
        &:disabled {
            background-color: $disabled-background;
            color: $disabled-text;
            border: 1px solid $disabled-border;
            cursor: not-allowed;
        }
    }
    input[type="checkbox"],
    input[type="radio"] {
        @include appearance(none);
        border: 2px solid $default-text;
        font: inherit;
        color: currentColor;
        width: 16px;
        height: 16px;
        margin: 0 6px 0 0;
        &:checked {
            border-color: $primary-text;
        }
        &:focus-visible {
            outline: max(2px, 0.1em) solid $primary-text;
            outline-offset: max(2px, 0.1em);
        }
    }
    input[type="checkbox"] {
        @include border-radius(3px);
        vertical-align: text-top;
        &:checked {
            &::before {
                background-color: $primary-text;
                content: "✓";
                line-height: 14px;
                color: #fff;
                display: inline-block;
                vertical-align: top;
            }
        }
        &:disabled {
            background-color: $disabled-border;
            border-color: $disabled-border;
            cursor: not-allowed;
            &:checked {
                &::before {
                    background-color: $disabled-border;
                    color: $disabled-text;
                }
            }
        }
    }
    input[type="radio"] {
        @include border-radius(50%);
        transform: translateY(-0.075em);
        display: inline-grid;
        place-content: center;
        &::before {
            @include border-radius(50%);
            content: "";
            width: 8px;
            height: 8px;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
        }
        &:checked {
            &::before {
                background-color: $primary-text;
                transform: scale(1);
            }
        }
        &:disabled {
            border-color: $disabled-border;
            &:checked {
                &::before {
                    background-color: $disabled-border;
                    transform: scale(1);
                }
            }
        }
    }

    &[block] {
        display: block;
    }
    &:not([block]) {
        display: inline-block;
    }
    &[fullwidth] {
        display: block;
        input {
            width: 100%;
        }
    }
}
