$body-background: #ffffff;
$navigation-bar-background:  #f7f7f7;
$hover-background: rgba(0,0,0,.05);
$default-border: #d8d8d8;

$default-background: #eee;
$default-background-hover: #ddd;
$default-text:#2F3940;

$primary-brand: #FE5000;
$secondary-brand: #4C7AA9;

$primary-background: #4C7AA9;
$primary-background-hover: #FE5000;
$primary-text: #3767C7;
$primary-text-hover:#0056b3;


$success-background: #06A755;
$success-background-hover: #009745;
$success-text: #06A755;


$warning-background: #C38621;
$warning-background-hover: #B37611;
$warning-text: #C38621;

$danger-background: #E00d0D;
$danger-background-hover: #D00000;
$danger-text: #E00d0D;

$disabled-background: #ffffff;
$disabled-text: #d8d8d8;
