@import "../../style/all";

gn-breadcrumb-list {
    ul {
        display: flex;
        margin: 16px 0;
        padding: 0;
        li {
            font-family: $default-font;
            font-weight: 400;
            font-size: 15px;
            color: $default-text;
            list-style-type: none;
            padding: 0 6px 0 0;
            &:first-of-type {
                padding-left: 10px;
            }
            span {
                font-family: $default-font;
                color: $default-text;
                font-weight: 400;
            }
            a {
                text-decoration: none;
                color: $primary-text;
            }
            &:not(:last-of-type)::after {
                content: "";
                display: inline-block;
                box-sizing: border-box;
                width: 8px;
                height: 8px;
                margin: 1px 3px;
                border-bottom: 2px solid;
                border-right: 2px solid;
                border-color: $default-text;
                transform: rotate(-45deg);
            }
        }
    }
}
