@use "../../style/variables/colors";
@use "../../style/variables/typography";

gn-breadcrumb-list {
    ul {
        display: flex;
        margin: 16px 0;
        padding: 0;
        li {
            font-family: typography.$default-font;
            font-weight: 400;
            font-size: 15px;
            color: colors.$default-text;
            list-style-type: none;
            padding: 0 6px 0 0;
            &:first-of-type {
                padding-left: 10px;
            }
            span {
                font-family: typography.$default-font;
                color: colors.$default-text;
                font-weight: 400;
            }
            a {
                text-decoration: none;
                color: colors.$primary-text;
            }
            &:not(:last-of-type)::after {
                content: "";
                display: inline-block;
                box-sizing: border-box;
                width: 8px;
                height: 8px;
                margin: 1px 3px;
                border-bottom: 2px solid;
                border-right: 2px solid;
                border-color: colors.$default-text;
                transform: rotate(-45deg);
            }
        }
    }
}
