@import "../../style/all";

gn-textarea {
    background-color: #fff;
    textarea {
        @include appearance(none);
        @include border-radius(4px);
        font-family: $default-font;
        font-size: 16px;
        background: none;
        color: #000;
        font-size: 12pt;
        padding: 6px 8px;
        min-height: 34px;
        border: 1px solid #cfcfcf;
        box-shadow: none;
        position: relative;
        z-index: 1;
        &:disabled {
            background-color: $disabled-background;
        }
    }
    &[block] {
        display: block;
    }
    &:not([block]) {
        display: inline-block;
    }
    &[fullwidth] {
        display: block;
        textarea {
            width: 100%;
        }
    }
}
