@use "../../style/mixins/appearance";
@use "../../style/mixins/border-radius";
@use "../../style/variables/colors";
@use "../../style/variables/typography";

gn-textarea {
    textarea {
        @include appearance.appearance(none);
        @include border-radius.border-radius(4px);
        font-family: typography.$default-font;
        font-size: 16px;
        background: none;
        color: #000;
        font-size: 12pt;
        padding: 6px 8px;
        min-height: 34px;
        box-shadow: none;
        position: relative;
        z-index: 1;
        display: block;
        &:not(:disabled) {
            background-color: #fff;
            border: 1px solid colors.$default-border;
            color: colors.$default-text;
        }
        &:disabled {
            background-color: colors.$disabled-background;
            color: colors.$disabled-text;
            border: 1px solid colors.$disabled-border;
            cursor: not-allowed;
        }
    }
    &[block] {
        display: block;
    }
    &:not([block]) {
        display: inline-block;
    }
    &[fullwidth] {
        display: block;
        textarea {
            width: 100%;
        }
    }
    &[resize="none"] {
        textarea {
            resize: none;
        }
    }
    &[resize="both"] {
        textarea {
            resize: both;
        }
    }
    &[resize="horizontal"] {
        textarea {
            resize: horizontal;
        }
    }
    &[resize="vertical"] {
        textarea {
            resize: vertical;
        }
    }
    &[resize="initial"] {
        textarea {
            resize: initial;
        }
    }
    &[resize="inherit"] {
        textarea {
            resize: inherit;
        }
    }
}
