@import "../../../style/all";

* {
    box-sizing: border-box;
}

.download-items-container {
    .icon-toggle-button {
        transition: all 0.3s ease-in-out;
        border: none;
        background: transparent;
        color: #7d746d;
        padding: 0 4px;
        cursor: pointer;
        &.open{
            color: #414042;
        }
        .counter {
            background-color: $primary-brand;
            border-radius: 50%;
            color: #fff;
            font-size: 1em;
            height: 1.5em;
            line-height: 1.5;
            margin-top: -0.25em;
            margin-left: -0.2em;
            position: absolute;
            text-align: center;
            width: 1.5em;
        }
        .download-icon {
            img {
                width: 52px;
                height: 37px;
            }
        }
    }
    .download-item-list-container{
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        max-height: 0;
        width: 100%;
        position: absolute;
        background-color: #dfdcda;
        border-radius: 3px;
        @media print {
            display: none;
        }
        @include breakpoint(tablet) {
            width: inherit;
        }
        &.open {
            height: auto;
            max-height: 300px;
            overflow: auto;
        }
    }
}
