@import "../../../style/all";

* {
  box-sizing: border-box;
}

div.main-search-field {
  font-family: $default-font;
  display: flex;
  height: 37px;
  margin-top: 0.25em;
  position: relative;
  width: 100%;
  @include breakpoint(phablet) {
    margin-top: 0;
  }

  .mainSearchLabel {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  input {
    @include appearance(none);
    @include border-radius(4px 0 0 4px);
    height: 37px;
    width: 100%;
    outline-offset: -2px;
    background: #fff;
    border: 1px solid #dfdcda;
    border-right: 0;
    font-size: 1.2em;
    flex: 1;
    margin: 0;
    padding: 0 0.75em;
  }

  button {
    @include appearance(button);
    @include border-radius(0 4px 4px 0);
    margin: 0;
    background: #fff;
    border: 1px solid #dfdcda;
    border-left: 0;
    display: inline-block;
    padding: 0 0.75em;
    height: 100%;

    svg {
      height: 22px;
      width: 21px;
    }
  }
}

div.search-results-container {
  @include box-shadow(
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12)
  );
  @include border-radius(0 0 3px 3px);
  position: absolute;
  background: #fbfcfd;
  display: none;
  top: 37px;
  z-index: 1;

  &.open {
    display: block;
    width: 100%;
    overflow-y: auto;
  }

  a {
    color: $primary-text;
    text-decoration: none;
    &:hover {
      color: $primary-text-hover;
      text-decoration: underline;
    }
  }

  div.search-results-for-type {
    &:nth-child(odd) {
      background-color: #fbfcfd;
    }
    &:nth-child(even) {
      background-color: #f5f6f7;
    }
    a.search-results-for-type-title {
      font-family: $default-font;

      padding: 6px 16px;
      font-size: 18px;
      display: inline-block;
      span.search-results-for-type-number-badge {
        @include border-radius(6px);
        padding: 1px 4px;
        color: #fff;
        background-color: $primary-brand;
        display: inline-block;
        font-size: 0.7em;
        vertical-align: middle;
        text-align: center;
        min-width: 24px;
        font-weight: bold;
      }
    }
    ul.search-results-for-type-list {
      list-style: none;
      padding: 0 16px 12px 32px;
      margin: 0;
      li {
        a {
          font-family: $default-font;
          padding: 2px 0;
          display: block;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
}

.hidden {
  height: 0;
  width: 0;
  position: absolute;
  color: transparent;
  overflow: hidden;
}
