div.search-type-selector{
    width: 180px;
    label {
        font-size: 14px;
        display: block;
        cursor: pointer;
        input[type="radio"]{
            vertical-align: middle;
            margin: 0;
            width: 14px;
            height: 14px;
        }
        .search-type-counter {
            font-size: .9em;
            &::before{
                content: "(";
            }
            &::after{
                content: ")";
            }
        }
    }
}
