@import "../../style/all";

* {
    box-sizing: border-box;
}

div.main-navigation {
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
    background-color: $navigation-bar-background;
    font-family: $default-font;
    color: $default-text;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;    
    @media print {
        position: relative;
        margin-bottom: -100px;
        @include box-shadow(none);
    }

    &.static-position {
        position: static;
    }

    &.no-shadow {
        @include box-shadow(none);
    }

    a.main-content-link {
        display: block;
        color: $primary-text;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        font-size: 19px;
        position: absolute;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        word-wrap: normal;        
        &:focus,
        &:active {
            position: static;
            overflow: visible;
            clip: auto;
            width: 100%;
            height: auto;
            outline: none;
            color: $primary-text-hover;
            span {
                z-index: 100;
                outline: 3px solid $primary-text;
                outline-offset: 2px;
                transition: none;
                text-decoration: none;
            }
        }
    }

    .main-navigation-container {
        margin: auto;

        @include breakpoint(tablet) {
            width: 750px;
        }
        @include breakpoint(laptop) {
            width: 970px;
        }
        @include breakpoint(desktop) {
            width: 1170px;
        }
        .main-navigation-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 10px 15px;
            @include breakpoint(phablet) {
                flex-wrap: nowrap;
            }            

            .logo {
                flex: 1;
                a {
                    display: inline-block;
                }
                svg {
                    height: 37px;
                    width: 200px;
                    @include breakpoint(phablet) {
                        width: 200px;
                    }
                    @include breakpoint(laptop) {
                        width: 248px;
                    }
                }
            }
            .search-container {
                flex: 2;
                width: 100%;
                @media print {
                    display: none;
                }
                order: 2;                                
                display: flex;
                flex-direction: column;
                
                @include breakpoint(phablet) {
                    order: 0;
                    padding: 0 1em;
                }
                @include breakpoint(tablet) {
                    flex-direction: row;
                }               
                width: 300px;                                
            }
            .button-row {                
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;               
            }
        }
    }
}
