main {
    margin: 126px auto 0;
}

@media (min-width: 600px) {
    main {
        margin: 93px auto 0;
    }
}

.example-title {
    margin: 24px 0 0 0;
    font-size: 1em;
}

.example-preview {
    margin: 0.5em 0;
}

pre.example-code {
    border: 1px solid #ddd;
    border-radius: 4px;
}
