:host {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
    ::slotted(navigation-tab-heading) {
        border-bottom: 1px solid #414042;
        margin-bottom: 10px;
    }

    navigation-tab-heading[selected="true"] {
        color: cyan;
    }
    
}

::slotted(navigation-tab-content) {
}

.selected {
    background-color: red;
}