@import "../../style/all";

:host {
    font-family: $default-font;
    display: block;
    .navigation-tab-headings {
        width: 100%;
        border-bottom: 1px solid #414042;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }
}
