@import "../../style/all";

:host {
    font-family: $default-font;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    ::slotted(navigation-tab-heading) {
        border-bottom: 1px solid #414042;
        margin-bottom: 10px;
    }
}
