@use "../../style/variables/colors";
@use "../../style/variables/typography";

gn-label {
    font-family: typography.$default-font;
    color: colors.$default-text;
    font-size: 1em;
    line-height: 1.5em;
    min-height: 21px;
    font-weight: bold;
    &[block] {
        display: block;
        margin-bottom: 0.4em;
    }
    &:not([block]) {
        display: inline-block;
        & + gn-input:not([block]),
        & + gn-select:not([block]),
        & + gn-textarea:not([block]) {
            margin-left: 0.5em;
        }
    }
}
