@import "../../style/all";

gn-label {
    font-family: $default-font;
    color: $default-text;
    font-size: 1em;
    line-height: 1.5em;
    min-height: 21px;
    font-weight: bold;
    &[block] {
        display: block;
    }
    &:not([block]) {
        display: inline-block;
        & + gn-input:not([block]),
        & + gn-select:not([block]),
        & + gn-textarea:not([block]) {
            margin-left: 0.5em;
        }
    }
}
