@use "../../style/mixins/border-radius";
@use "../../style/mixins/transition";
@use "../../style/variables/colors";
@use "../../style/variables/typography";

gn-button {
    & button,
    & a {
        @include transition.transition(all 0.35s linear 0s);
        @include border-radius.border-radius(4px);
        font-family: typography.$default-font;
        font-weight: 400;
        font-size: 12pt;
        font-style: normal;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        height: 34px;
        line-height: 16pt;
        text-decoration: none;
        background-position: 50%;
        padding: 5px 8px;
        box-sizing: border-box;
        &:hover {
            background-color: colors.$primary-brand;
        }
        &:disabled {
            background-color: colors.$disabled-background;
            color: colors.$disabled-text;
            border: 1px solid colors.$disabled-border;
            cursor: not-allowed;
            &:hover,
            &:focus {
                background-color: colors.$disabled-background;
            }
        }
    }

    &[color="default"],
    &[color=""],
    &:not([color]) {
        & button,
        & a {
            text-decoration: none;
            &:not(:disabled) {
                background-color: colors.$default-background;
                color: colors.$default-text;
                border-color: colors.$default-border;
                &:hover,
                &:focus {
                    background-color: colors.$default-background-hover;
                }
            }
        }
    }
    &[color="primary"] {
        & button,
        & a {
            text-decoration: none;
            &:not(:disabled) {
                background-color: colors.$primary-background;
                color: #fff;
                &:hover,
                &:focus {
                    background-color: colors.$primary-background-hover;
                }
            }
        }
    }
    &[color="success"] {
        & button,
        & a {
            text-decoration: none;
            &:not(:disabled) {
                background-color: colors.$success-background;
                color: #fff;
                &:hover,
                &:focus {
                    background-color: colors.$success-background-hover;
                }
            }
        }
    }
    &[color="warning"] {
        & button,
        & a {
            text-decoration: none;
            &:not(:disabled) {
                background-color: colors.$warning-background;
                color: #fff;
                &:hover,
                &:focus {
                    background-color: colors.$warning-background-hover;
                }
            }
        }
    }
    &[color="danger"] {
        & button,
        & a {
            text-decoration: none;
            &:not(:disabled) {
                background-color: colors.$danger-background;
                color: #fff;
                &:hover,
                &:focus {
                    background-color: colors.$danger-background-hover;
                }
            }
        }
    }
}
