@use "../../style/mixins/border-radius";
@use "../../style/mixins/transition";
@use "../../style/variables/colors";
@use "../../style/variables/typography";

::slotted(button),
::slotted(a),
::slotted(.color-default) {
    @include transition.transition(all 0.35s linear 0s);
    @include border-radius.border-radius(4px);
    font-family: typography.$default-font;
    font-weight: 400;
    font-size: 12pt;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 34px;
    line-height: 16pt;
    text-decoration: none;
    background-position: 50%;
    padding: 5px 8px;
    box-sizing: border-box;
    background-color: colors.$default-background;
    color: colors.$default-text;
    border-color: colors.$default-border;
}

::slotted(.is-hovered),
::slotted(.color-default.is-hovered) {
    background-color: colors.$default-background-hover;
}

::slotted(.color-primary) {
    text-decoration: none;
    background-color: colors.$primary-background;
    color: #fff;
}

::slotted(.color-primary.is-hovered) {
    background-color: colors.$primary-background-hover;
}

::slotted(.color-success) {
    text-decoration: none;
    background-color: colors.$success-background;
    color: #fff;
}
::slotted(.color-success.is-hovered) {
    background-color: colors.$success-background-hover;
}

::slotted(.color-warning) {
    text-decoration: none;
    background-color: colors.$warning-background;
    color: #fff;
}
::slotted(.color-warning.is-hovered) {
    background-color: colors.$warning-background-hover;
}
::slotted(.color-danger) {
    text-decoration: none;
    background-color: colors.$danger-background;
    color: #fff;
}

::slotted(.color-danger.is-hovered) {
    background-color: colors.$danger-background-hover;
}

::slotted(.is-disabled),
::slotted(.color-default.is-disabled),
::slotted(.color-default.is-hovered.is-disabled),
::slotted(.color-primary.is-disabled),
::slotted(.color-primary.is-hovered.is-disabled),
::slotted(.color-success.is-disabled),
::slotted(.color-success.is-hovered.is-disabled),
::slotted(.color-warning.is-disabled),
::slotted(.color-warning.is-hovered.is-disabled),
::slotted(.color-danger.is-disabled),
::slotted(.color-danger.is-hovered.is-disabled) {
    background-color: colors.$disabled-background;
    color: colors.$disabled-text;
    border: 1px solid colors.$disabled-border;
    cursor: not-allowed;
    pointer-events: none;
}
