@import "../../style/all";

::slotted(h1),
::slotted([size="1"]) {
    font-family: $header-font;
    font-size: 30px;
    font-weight: 100;
    @include breakpoint(tablet) {
        font-size: 48px;
    }
}

::slotted(h1[underline]),
::slotted([size="1"][underline]) {
    &:after {
        content: "";
        display: block;
        width: 75px;
        border-bottom: 3px solid $primary-brand;
        margin: 5px 0 15px;
        @include breakpoint(tablet) {
            width: 100px;
            border-bottom: 5px solid $primary-brand;
            margin: 10px 0 20px;
        }
    }
}

::slotted(h2),
::slotted([size="2"]) {
    font-family: $header-font;
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
    display: inline;
    margin-bottom: 10px;
    margin-top: 20px;
    @include breakpoint(tablet) {
        font-size: 32px;
        line-height: 40px;
    }
    &:before {
        content: "";
        display: block;
        margin-top: 46px;
    }
    &:after {
        content: "";
        display: block;
        margin-bottom: 20px;
    }
}

::slotted(h2[underline]),
::slotted([size="2"][underline]) {
    border-bottom: 2px solid $primary-brand;
}

::slotted(h3),
::slotted([size="3"]) {
    font-family: $default-font;
    font-size: 20px;
    font-weight: 300;
    @include breakpoint(tablet) {
        font-size: 21px;
    }
}

::slotted(h4),
::slotted([size="4"]) {
    font-family: $default-font;
    font-size: 18px;
    font-weight: 300;
    @include breakpoint(tablet) {
        font-size: 19px;
    }
}

::slotted(h5),
::slotted([size="5"]) {
    font-family: $default-font;
    font-size: 15px;
    font-weight: 600;
    @include breakpoint(tablet) {
        font-size: 16px;
    }
}
