@import "../../style/all";

heading-text {
    h1,
    [size="1"] {
        font-family: $header-font;
        color: $default-text;
        font-size: 30px;
        font-weight: 200;
        @include breakpoint(tablet) {
            font-size: 48px;
            font-weight: 100;
        }
    }
    h1[underline],
    [size="1"][underline] {
        &:after {
            content: "";
            display: block;
            width: 75px;
            border-bottom: 3px solid $primary-brand;
            margin: 5px 0 15px;
            @include breakpoint(tablet) {
                width: 100px;
                border-bottom: 5px solid $primary-brand;
                margin: 10px 0 20px;
            }
        }
    }
    h2,
    [size="2"] {
        font-family: $header-font;
        color: $default-text;
        font-size: 26px;
        line-height: 30px;
        font-weight: 300;
        display: inline;
        margin-bottom: 10px;
        margin-top: 20px;
        @include breakpoint(tablet) {
            font-size: 32px;
            line-height: 40px;
        }
        &:before {
            content: "";
            display: block;
            margin-top: 46px;
        }
        &:after {
            content: "";
            display: block;
            margin-bottom: 15px;
        }
    }
    h2[underline],
    [size="2"][underline] {
        &:after {
            content: "";
            display: block;
            width: 25px;
            border-bottom: 2px solid $primary-brand;
            @include breakpoint(tablet) {
                width: 50px;
                border-bottom: 2px solid $primary-brand;
            }
        }
    }
    h3,
    [size="3"] {
        font-family: $default-font;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 0;
        @include breakpoint(tablet) {
            font-size: 21px;
        }
    }
    h4,
    [size="4"] {
        font-family: $default-font;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 0;
        @include breakpoint(tablet) {
            font-size: 19px;
        }
    }
    h5,
    [size="5"] {
        font-family: $default-font;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 0;
        @include breakpoint(tablet) {
            font-size: 16px;
        }
    }
}
